@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #859dd1;
    
}
/*----------------Estilos Base------------------*/
img{
    display: block;
    width: 100%;
    max-width: 100%;
}
h1,h2,h3,h4,h5{
    margin: 0;
}
.container{
    width: 100%;
    margin: auto;
}
.container--flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.column{
    width: 100%;
}

/*----------------Estilos Header------------------*/


.main-header{
    width: 100%;
}
.logo{
    font-size: 1.9em;
    color: #4c587b;
    padding: 10px;
    font-family: 'Sacramento', cursive;
	font-weight: bold;
        
}
.main-header__contactInfo__phone{
    background:#464a80;
    color: #fff;
    padding: 10px;
    margin: 0;
}

.main-header__contactInfo__addres{
    padding: 10px;
    margin: 0px;
}
.main-header [class*="icon-"]:before{
    position: relative;
    top:2px;
    right: 3px;
}
/*----------------Estilos Menu------------------*/
.main_nav{
    width: 100%;
    position:top;
    z-index: 2000;  
    padding: 10px;
}

.icon-menu{
    display: block;
    color: #040404fc;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 40px;
    height: 40px;
    line-height: 45px;
    text-align: center;
    cursor:pointer;
    font-size: 1.5em;
    
}

.social-icon{
    display: flex;
    justify-content: space-between;
    
}

.social-icon [class*="icon-"]{
    color: rgb(255, 255, 255);
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    width: 35px;
    height: 35px;
    background: #937abd;
    border-radius: 50%;
}

.social-icon__link{
    text-decoration: none;
   
}

.menu{
    
    position: absolute;
    top: 75px;
    left: 0;
    width: 100%;
    background: rgba(2, 1, 2, 0.85);
    padding:0px;
    margin:0px;
    z-index: 2000px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    height: 0;
    overflow: hidden;
	transition: height .3s linear;
}

.menu__link{
    display: block;
    padding: 15px;
    color: white;
    text-align: center;
    text-decoration: none;
    
}
.menu__link:hover{
     background-color: #8755b7;
}
.menu__link--select{
    background-color: #aa7dd4;
    
}
.mostrar{
    height: 210px;
}


/*----------------Estilos Banner------------------*/

.banner{
    position: relative;
}
.banner__img{
    width: 300%;
    height: 450px;
    object-fit: cover;
}
.banner__content {
    width: auto;
    text-align:center;
    position: absolute;
    top: 1;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight:bold;
}

/*----------------Estilos Principales------------------*/
.group--color .container{
	background-color: #aa7dd4;
	padding: 10px;
	text-align: center;
    color: #000000;
    font-weight: bold;
   
	
}
.main__title{
	margin: 15px 0;
	font-size: 2.8em;
	font-family: 'Sacramento',cursive;
	color: #f0f0f1;
	
}
.column__title{
	font-size: 1.3em;
	font-weight: bold;
	color: #e6d4e1;
	
}
.main__about_description .column:nth-child(2){
	padding: 10px;
}
/*----------------Estilos Principales------------------*/
.main-footer{
	background: #aa7dd4;
	color: #fff;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: .8em;
}
.copy{
	text-align: center;
	margin: auto;
	margin-top: 15px;
	
}

.main-footer [class*="icon-"] {
	color: #eae4e4;
	text-decoration: none;
	
	
}
.main-footer [class*="icon-"]:before{
	position: relative;
	top: 3px;
	right: 5px;
}

/*----------------Estilos Responsivos------------------*/

@media screen and (min-width:480px){
.logo{
	color: #ffffff;
	
}
.main-header__contactInfo{
	text-align:right;
}

.main-header__contactInfo__phone{
	background: none;
}
.main-header__contactInfo__addres{
	color: #fff;
}
.main_nav{
	background:rgba(0,0,0,0.85);
}

.column--50{
	width: 49%;
}
.column--50--25{
	width: 49%;
}
.column--33{
	width: 32%;
}
}

.main-footer .container--flex{
	align-items: flex-start;
}
		
@media screen and (min-width:1024px){
.container{
	width: 1000px
}
.logo{
	padding-top: 20px;
	font-size: 2em;

	
}
	
.main-header__contactInfo__phone,
.main-header__contactInfo__addres{
	font-size: 1.18em;
	padding-right: 0px;
	
}

.main_nav{

	padding: 0px;
}

.icon-menu{
	display: none;
}

.menu{
	position: static;
	display: flex;
	height: 60px;
	width: auto;
}

.menu__link{

	padding: 18px;
  
}
.group--color .container{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px

}
.main__title{
	font-size: 2.5em;
}
.main__about_description .column--50:nth-child(2) .column__txt
{
	line-height: 55px;
	text-align: justify;
    font-weight: bold;
	
}
.group__title{
	font-size: 2.5em;
}
.column--50--25{
	width: 24.5%;
}

.galeria{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
}

.galeria1{
    display: flex;
    margin: 0px 10px;  
}

.galeria1 .card{
    width: 100%;
    margin: 30px;  
}

.card-img-top{
    width: 100%;
    height: 250px;   
}

.menu li a{
    color:white;
}

@media screen and (max-width: 500px){
.galeria1{
    display: flex;
    flex-direction: column;
}
}
.bg-lila {
    background-color: #aa7dd4; /* Color lila */
}

.bg-rosa {
	background-color: #ba8db3; /* rosa pastel */
}

.bg-naranja {
	background-color: #d2ac8c; /* Naranja pastel */
}
}


